<div class="col-md-5">
  <div
    class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
  >
    TATETI
    <img class="img-games" src="https://i.stack.imgur.com/H86NF.png" />
  </div>
  <div class="card-body"  style="text-align: center;">
    <p class="pDescription">El clásico juego de los tiempos dorados</p>
    <a href="games/tateti" class="btn btn-info btn"> Play! </a>
  </div>

  <div
    class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
  >
    PIEDRA PAPEL TIJERA
    <img
      class="img-games"
      src="https://static2.abc.es/Media/201405/05/piedra-papel-tijera--644x390.JPG"
    />
  </div>
  <div class="card-body"  style="text-align: center;">
    <p class="pDescription">Otra joyita de juego</p>
    <a href="games/ppp" class="btn btn-info btn"> Play! </a>
  </div>

  <div
    class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
  >
    MEMOTEST
    <img
      class="img-games"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoY928Td18IsEfSg4y-fFBDVMINhNhNk34s-lrCbFVbXR_HtZEmwAtkBW80zM&s"
    />
  </div>
  <div class="card-body" style="text-align: center;">
    <p class="pDescription">Aca hay que utilizar eso que llaman memoria</p>
    <a href="games/memotest" class="btn btn-info btn"> Play! </a>
  </div>
  
  <div
    class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
  >
    SIMON
    <img
      class="img-games"
      src="https://user-images.githubusercontent.com/16066443/36402872-2c30e3ca-1596-11e8-9e91-9ad2d2ac7d25.gif"
    />
  </div>
  <div class="card-body" style="text-align: center;">
    <p class="pDescription">Inspirado de Amoung Us!</p>
    <a href="games/simon" class="btn btn-info btn"> Play! </a>
  </div>
</div>