<div class="col-md-4">
  <div class="card text-center" id="principalContainer">
    <div
      class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
    >
      TATETI
      <img class="img-games" src="https://i.stack.imgur.com/H86NF.png" />
    </div>
    <div class="card-body">
      <p class="pDescription">El clásico juego de los tiempos dorados</p>
      <a href="games/tateti" class="btn btn-info btn-block"> Play! </a>
    </div>

    <div
      class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
    >
      PIEDRA PAPEL TIJERA
      <img
        class="img-games"
        src="https://static2.abc.es/Media/201405/05/piedra-papel-tijera--644x390.JPG"
      />
    </div>
    <div class="card-body">
      <p class="pDescription">Otra joyita de juego</p>
      <a href="games/ppp" class="btn btn-info btn-block"> Play! </a>
    </div>
  </div>
</div>
