<div class="col-md-4">
  <div class="card text-center">
    <div
      class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
    >
      TATETI
      <img
        class="img-games"
        src="https://lh3.googleusercontent.com/proxy/eqZ5cRaBJfW--xxZOXCREZAIxuiwGeCIkncIlmb3HlmcHNiTxpvV--w0A0_-qKGb0_fPVIzYGFfd67u15N0aFduih9jY6yJgm4hukWzMQxPzbtQX3v0ZVjmj9cmMgA"
      />
    </div>
    <div class="card-body">
      <p>El clásico juego de los tiempos dorados</p>
      <a href="games/tateti" class="btn btn-info btn-block"> Play! </a>
    </div>

    <div
      class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
    >
      PIEDRA PAPEL TIJERA
      <img
        class="img-games"
        src="https://static2.abc.es/Media/201405/05/piedra-papel-tijera--644x390.JPG"
      />
    </div>
    <div class="card-body">
      <p>Otra joyita de juego</p>
      <a href="games/ppp" class="btn btn-info btn-block">
        Play!
      </a>
    </div>
  </div>
</div>
