<div class="col-md-5">
  <div>
    <div class="title">
      <h1>PIEDRA PAPEL TIJERA</h1>
    </div>
    <div class="score-board">
      <span id="user-score">You: {{ newScore.scores }}</span> |
      <span id="comp-score">PC: {{ pointsPC }}</span>
    </div>
    <p class="info-game">{{ statusGame }}</p>
    <p class="info-game">Result: {{ resultGame }}</p>
    <div class="choices">
      <div class="choice" (click)="play('Roca')">
        <img src="https://toppng.com/uploads/preview/rock-paper-scissors-png-clipart-rock-paper-scissors-11563211310xieroclgnt.png" />
      </div>
      <div class="choice" (click)="play('Papel')">
        <img src="https://www.clipartkey.com/mpngs/m/109-1094319_rock-paper-scissors-png.png" />
      </div>
      <div class="choice" (click)="play('Tijera')">
        <img src="https://www.pinclipart.com/picdir/middle/536-5360227_scissors-hand-rock-paper-scissors-png-clipart.png" />
      </div>
    </div>
  </div>
</div>
<app-chats></app-chats>

